# Node.js dependencies
node_modules

# Local environment variables
.env
.env*.local

# Docker-specific files
docker-compose.override.yml
docker-compose.override.yaml
*.env  # Exclude local Docker environment files if any
**/docker-data/  # If you use named volumes pointing to directories
**/.docker/  # If you cache Docker files locally

# Production build files
/build
/out
/.next
**/dist/

# Next.js specific
.next/
.vercel

# Prisma specific
prisma/.env  # Prisma environment variables
prisma/migrations/  # If you generate Prisma migrations

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
*.tsbuildinfo  # TypeScript build info
coverage/      # Test coverage reports
pnp.*          # Yarn Plug'n'Play files

# Ignore editor config
.vscode/
.idea/
